* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #c7c0d8 0%, #4225ad 100%);
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.521);
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: bold;
    font-size: 1.75rem;
    color: rgb(15, 15, 206);
}

.time-container {
    display: flex;
    margin: 20px;
    gap: 10px;
}

.time {
    font-weight: bold;
    font-size: 3rem;
    color: #333;
}

.separator {
    font-weight: bold;
    font-size: 2rem;
    padding: 10px 0;
    color: #696969;
}

#miliseconds {
    font-size: 2rem;
    padding: 11px 0;
    color: #696969;
}

.buttons {
    display: flex;
    gap: 20px;
}

.btn {
    border-radius: 50px;
    border: 1px solid #b6b6b6;
    padding: 7px;
    font-size: 0.75rem;
    font-weight: bold;
    background-color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #b6b6b6;
    border: 1px solid #696969;
}

#startbtn {
    background-color: rgb(15, 15, 206);
    color: #fff;
    border: 1px solid rgb(15, 15, 206);
}

#startbtn:hover {
    background-color: #fff;
    color: rgb(15, 15, 206);
}

.hide {
    display: none;
}